<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Webmonitor 套餐即将续费通知</title>
</head>
<body>
    <div style="background-color:#f8f8f8; padding:20px;">
        <div style="max-width:600px; margin:auto; background-color:#fff; padding:20px; text-align:center;">
            <h2 style="color:#FFA500;">套餐即将续费通知</h2>
            <p>尊敬的用户 {{user_name}}，</p>
            <p>您的套餐将在 {{recurring_time}} 自动续费。以下是您的套餐详情：</p>
            <p>套餐名称：{{package_name}}</p>
            <p>续费周期：{{package_period}}</p>
            <p>续费金额：{{package_price}}</p>
            <p>若您不希望续费，请登陆我们的网页，在自动续费之前于套餐管理页面取消套餐。</p>
            <p>谢谢！</p>
        </div>
    </div>
</body>
</html>
